* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(107, 181, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: sans-serif;
  border: 2px solid #ccc;
  padding: 20px;
}
