* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --transition-speed: 0.5s;
  --btn-bg-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--transition-speed) ease;
}

.img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: -15vh;
  left: -15vw;
  z-index: 1;
}

.arrow-btn {
  position: fixed;
  bottom: 10vh;
}

.left-arrow {
  left: calc(50vw - 120px);
}

.right-arrow {
  right: calc(50vw - 120px);
}

.btn {
  background-color: var(--btn-bg-color);
  border: none;
  color: crimson;
  font-size: 3rem;
  cursor: pointer;
}

/* Animation For JavaScript */
.animateTransition {
  animation: animation var(--transition-speed) ease;
}

@keyframes animation {
  0% {
    transform: translateX(5px);
    filter: blur(4px);
  }
  50% {
    transform: translateX(-5px);
    filter: blur(2px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}
