* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1b1b1b;
}

.box {
  width: 50px;
  height: 50px;
  margin: 10px;
  background: #ffa31a;
  border-radius: 100px;
}

.buttons-container {
  display: flex;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  outline: none;
}
