.red {
  color: red;
}
.blue {
  color: blue;
}
.teal {
  color: teal;
}
.steelblue {
  color: steelblue;
}
.orange {
  color: orange;
}
.purple {
  color: purple;
}
.pink {
  color: pink;
}
.crimson {
  color: crimson;
}
.chocolate {
  color: chocolate;
}
.aqua {
  color: aqua;
}
