* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slid {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transfrom 0.8s ease-in-out;
}

.left-slid > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.left-slid h1 {
  font-size: 2.5rem;
}

.right-slid {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.8s ease-in-out;
}

.right-slid > div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.buttons-container button {
  position: absolute;
  left: 35%;
  top: 50%;
}

button {
  border: none;
  cursor: pointer;
  padding: 10px;
  background: transparent;
  color: #fff;
  font-size: 2.2rem;
}

#down-btn {
  transform: translateX(-100%);
}

#up-btn {
  transform: translateY(-100%);
}

.game-one {
  background-color: #1d1815;
}
.game-two {
  background-color: #405260;
}
.game-three {
  background-color: #73a91d;
}
.game-four {
  background-color: #223941;
}

.img {
  width: 100%;
  height: 100%;
}

.img-one {
  background: url(https://images3.alphacoders.com/601/thumb-1920-601862.jpg);
}
.img-two {
  background: url(https://images6.alphacoders.com/709/thumb-1920-709832.jpg);
}
.img-three {
  background: url(https://images3.alphacoders.com/608/thumb-1920-608887.jpg);
}
.img-four {
  background: url(https://images7.alphacoders.com/714/thumb-1920-714040.jpg);
}
