* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #080809;
  background: linear-gradient(blueviolet, rgb(82, 5, 154));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  width: 80%;
  height: 600px;
  padding: 20px;
  color: white;
  position: relative;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.table {
  background: crimson;
  width: 100%;
}

.table-section {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

#book-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: hidden;
  word-wrap: break-word;
  background: #fff;
  color: #000;
}

#book-list > section {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.btn {
  background: deeppink;
  border: none;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
