* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  margin-right: -20px;
  padding: 15px 40px;
  border: 0;
  outline: none;
  border-radius: 25px;
  background: #333;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.col-1 .col2 {
  overflow: hidden;
}

.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.col-2 img {
  width: 35rem;
  height: 100vh;
  margin-bottom: -5px;
}

.col-1 {
  padding: 8% 5%;
  position: relative;
}

.col-1 p {
  color: #777;
  line-height: 22px;
  margin: 15px 0 30px;
  max-width: 500px;
}

ul {
  position: absolute;
  bottom: 30px;
}

ul li {
  list-style: none;
  width: 15px;
  height: 15px;
  display: inline-block;
  background: #bfbfbf;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

ul .active {
  background: #333;
}

/* JavaScript */
.zoom {
  animation: zoom 1s;
}

@keyframes zoom {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
