* {
  padding: 20px;
  max-width: 500px;
}

body {
  background: pink;
}

h4 {
  background-color: red;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
  margin-top: 10px;
}

#blue {
  background-color: blue;
  margin-top: 10px;
}

.container {
  display: flex;
}

.teal {
  background-color: teal;
  margin: 10px;
  width: 70px;
  text-align: center;
}
