<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME 🏡</title>
  </head>
  <body>
    <!-- Display Variable -->
    <!-- <%= variableName  %> -->
    <!-- <%= name %> -->

    <!-- Conditional Statments -->
    <!-- <% if (userId === 20) { %>
    <h1>User ID: <%= userId %></h1>
    <% } %> -->

    <!-- Else Block -->
    <!-- <% if (userId === 20) { %>
    <h1>User ID: <%= userId %></h1>
    <% } else { %>
    <h2>User not found</h2>
    <% } %> -->

    <!-- For Loop -->
    <!-- <% for (initalExpression, condition, increment/decrement) { %> <% } %> -->

    <!-- For in loop -->
    <!-- <% for (const key in data) { %> <% } %> -->

    <!-- while loop -->
    <!-- <% for (condition) { %> <% } %> -->

    <!-- forEach -->
    <!-- <% data.forEach(d => {) %> <% } %> -->

    <!-- Built-in Functions -->
    <!-- <% var current = new Data(); %>
    <% current %> -->

    <!-- Include/Partials -->
    <!-- Partials allows us to seperate our ejs code into smaller multiple components. -->
    <!-- So later if something unexpected happens in UI, we can quickly jump into specific partial and solve it. -->
    <!-- include(folder/filename, object) -->
  </body>
</html>
