* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-around;
}

.container {
  width: 50%;
  background: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container input {
  padding: 10px 20px;
  margin-left: 10px;
  outline: none;
}

.container .result-btn {
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
}

.results-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
