* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #111933;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 100px auto 0;
  max-width: 800px;
  overflow: hidden;
}

main > * {
  grid-row: 1 / 2;
}

.login,
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40% 0;
  color: #fff;
  font-size: 30px;
  background: #cf0b4c;
}

.login > button,
.signup > button {
  border: none;
  background-color: #fff;
}

.login {
  grid-column: 1 / 2;
}
.signup {
  grid-column: 2 / 3;
}
.login-form {
  grid-column: 1 / 2;
  transform: translateX(-100%);
}
.signup-form {
  grid-column: 2 / 3;
  transform: translateX(100%);
}

form {
  padding: 30px 20px;
  max-width: 500px;
  height: 520px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.5s;
}

form.active {
  transform: translateX(0);
}

.back-layer {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: 1fr 1fr;
  clip-path: inset(0 50% 0 0);
  background: #fff;
  z-index: 5;
  transition: clip-path 0.3s;
}

.login-label {
  text-align: center;
  font-size: 40px;
}

input {
  display: block;
  height: 40px;
  width: 300px;
  padding-left: 15px;
  margin: 30px 0;
  border: 2px solid #ccc;
  margin-bottom: 20px;
  margin-top: 5px;
  outline: none;
}

input:focus {
  border-color: #cf0b4c;
}

label {
  font-weight: normal;
}

button {
  background: transparent;
  border: 2px solid;
  color: #cf0b4c;
  width: 120px;
  height: 40px;
  text-transform: uppercase;
  /* font-weight: 600; */
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #cf0b4c;
  color: #fff;
}
